background() {
  "$@" &> /dev/null &
}

# normal
alias mci='mvn clean install'
alias mcit='mvn clean install -DskipTests'
alias mcd='mvn clean deploy'
alias tree='tree -a'
alias tree2='tree -L 2'
alias tree3='tree -L 3'

# global
alias -g L='| less'
alias -g G='| grep'

# suffix
alias -s pdf='background mupdf'
alias -s jpg='background gpicview'
alias -s {ods,odt,doc,docx,xls,xlsx,ppt,pptx,csv}='background libreoffice'

# directories
hash -d W=~/workspaces/
